body{
    background-color: blue;
    margin: 0px;
}

.box{
    background-color: rgba(0 0 255);
    margin: 10px;
    height: 700px;
    width: auto;
    display: grid;
    grid-template-areas: "auto auto auto";
    grid-template-rows: 30px 1rf 30px;
    grid-template-columns: 30px 1rf 30px;
}

.div{
    background-color: rgb(0, 255, 255);
    grid-area: auto;
    text-align: center;
    padding: 90px;
    font-size: 25px;
    border: 2px black solid;
}

