
.box{
    height: 600px;
    width: auto;
    display: grid;
    grid-template-areas: "mE topo mD"
                         "mE cont mD"
                         "mE rod mD";
    grid-template-rows: 50px 1fr 100px;
    grid-template-columns: 100px 1fr 100px;
}

.titulo{
    background-color: red;
    grid-area: topo;
}

.menuE{
    background-color: brown;
    grid-area: mE;
}

.conteudo{
    background-color: green;
    grid-area: cont;
}

.menuD{
    background-color: pink;
    grid-area: mD;
}

.rodape{
    background-color: orange;
    grid-area: rod;
}