p{
    background-color: blueviolet;
}

h1{
    background-color: rgb(112, 59, 161);
}

h2{
    background-color: rgb(101, 24, 173);
}

#elemento2{
    background-color: rgb(77, 36, 116);
}

.div01{
    background-color: rgb(183, 123, 240);
}